.background {

  background-color: #f0ead6;
  height: 100vh;

}

.home-page {

  font-size: 1.5em;
  color: #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .big-title h1 {

    font-size: 3.5em;
    font-family: 'Luminari', serif;
    font-weight: bold;
    margin-bottom: 10px;

  }

  .small-instruction h3 {

    font-size: 1.25em;
    font-family: 'Luminari', serif;
    font-weight: bold;
    margin-bottom: 2.5em;

  }

}