.nav-main {
  display: flex;

  .nav-logo img {
    justify-content: flex-start;
    align-items: center;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-link {
      margin: 0 1rem;
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
